
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        <li class="nav-item">
          <a class="nav-link " routerLink="/hometrains" routerLinkActive="isActive"  [routerLinkActiveOptions]="{ exact: true }">	{{ "HEADERS.TITLE1" | translate }}</a>
         
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="isActive">{{ "HEADER.TITLE" | translate }} </a> 
          <li class="nav-item">
            <a class="nav-link" routerLink="/ticket-checker" routerLinkActive="isActive">{{ "HEADERS2.TITLE2" | translate }}</a>
          </li>
          
      </ul>
      
    </div>
  </div>
</nav>



<div class="language-switcher">
  <button (click)="switchLanguage('en')">English </button>
  <button (click)="switchLanguage('ka')">ქართული</button>
  <button (click)="switchLanguage('ru')">РУССКИЙ</button>
</div>


<div class="step">
 <img src="https://railway.stepprojects.ge/assets/img/logo/logo.png" alt="php">
 <button class="cmn__btn" [routerLink]="['/check-ticket']">
  <span>{{ "HEADERS3.TITLE3" | translate }}</span>
</button>



</div>

 <div class="stepinfo">
  <div class="steponline">
    <h4 class="ticket-title">{{ "HEADERS4.TITLE4" | translate }} <br> </h4>
  <h4 class="ticket-title"> {{ "HEADERS5.TITLE5" | translate }}<br></h4>
 
  </div>
  <h6 class="ticket-title2">{{ "HEADERS6.TITLE6" | translate }}</h6>
 </div>

 
 