<h2>{{ 'TRAINS.TRAIN ' | translate }}</h2>

<ul>
  <div>
    <p> {{ 'TRAINS1.TRAIN1 ' | translate }}</p>
    <p> {{ 'TRAINS2.TRAINS2 ' | translate }} </p>
    <p> {{ 'TRAINS3.TRAINS3 ' | translate }} </p>
    
  </div>
  <li *ngFor="let train of trains">
    <div>
      <p>
        #{{ train.number }}
        
      </p>
      <p>
        {{ train.name }}
      </p>
    </div>
    <div>
      <p>{{ train.departure }}</p>
      <p>{{ train.from }}</p>
    </div>
    <div>
      <p>{{ train.arrive }}</p>
      <p>{{ train.to }}</p>
    </div>

    <button (click)="order(train, train.id)">{{ 'TRAINS4.TRAINS4 ' | translate }}</button>
  </li>
</ul>
