
<h4>{{ 'HOMETRAIN1.HOMETRAIN1 ' | translate }}</h4>

<form (ngSubmit)="onSubmit()">
    <!-- from -->
   <select [(ngModel)]="source" name="source" id="">
      <option value="" disabled selected>{{ 'HOMETRAIN2.HOMETRAIN2 ' | translate }}</option>
    @for (item of sources; track $index) {
        <option  width="60" [value]="item.value"> {{item.viewValue}}</option>
       

      
    }
   </select>

<!-- to -->
   <select [(ngModel)]="destination" name="destination" id="">
    {{destination}}
    <option value="" disabled selected>{{ 'HOMETRAIN3.HOMETRAIN3 ' | translate }}</option>
    @for (item of sources; track $index) {
        <option [value]="item.value"> {{item.viewValue}}</option>
    }
   </select>
<!-- date -->
   <input type="date" [(ngModel)]="date" name="date"  [min]="todayDate" >
 
<!-- pessenger  -->
   <input type="number" [(ngModel)]="travelers" name="travelers" placeholder=" რაოდენობა">
   
   <button type="submit"> {{ 'HOMETRAIN5.HOMETRAIN5 ' | translate }} </button>
  
</form>





<section>
   <div class="trainphoto">'
 <img src="https://railway.stepprojects.ge/assets/img/train/trainticket.png" alt="err" width="100%" height="90%">
</div>
<div class="train-text">
   <h2>{{ 'HOMETRAIN5.HOMETRAIN5 ' | translate }}</h2>
   <p>{{ 'HOMETRAIN6.HOMETRAIN6 ' | translate }}</p>

<ul>
   <li>
      <span><img src="https://railway.stepprojects.ge/assets/img/train/unoffer.png" alt="err"> </span>
      <span>{{ 'HOMETRAIN7.HOMETRAIN7 ' | translate }}</span>
      </li>
   <li > <span><img src="https://railway.stepprojects.ge/assets/img/train/suppor24.png" alt="err"> </span>
      <span>{{ 'HOMETRAIN8.HOMETRAIN8 ' | translate }}</span>
   </li>
   <li> <span><img src="https://railway.stepprojects.ge/assets/img/train/secure100.png" alt="err"> </span>
      <span>{{ 'HOMETRAIN9.HOMETRAIN9 ' | translate }}</span>
   </li>
   <li> <span><img src="https://railway.stepprojects.ge/assets/img/train/truspay.png" alt="err"> </span>
      <span>{{ 'HOMETRAIN10.HOMETRAIN10 ' | translate }}</span>
   </li>
</ul>
</div>
</section>

