form {

    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10px;
   
  }
  
  h4 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    margin-top: 15px;
    
  }
  
  select,
  input {
    width: 100%;
    padding: 10px;
    margin: 30px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  
  select:focus,
  input:focus {
    outline: none;
    border-color: #0056b3;
  }
  
  button[type="submit"] {
  
    width: 100%;
    padding: 10px;
    margin: 30px 0;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px 10px ;
  }
  
  button[type="submit"]:hover {
    background-color: #004494;
  }
  
  button[type="submit"]:active {
    transform: scale(0.98);
  }
  

    input[type="number"] {
        -webkit-appearance: none;  
        -moz-appearance: none; 
        appearance: none;    
      }
      
  
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
section{
  display: flex;
  justify-content: space-around;
  
  
  // 
  .train-text {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    margin-top: 10%;
    margin-right:  10%;
  
    h2 {
      color: #2e3a59;
      text-align: center;
      font-weight: bolder;
      line-height:2.1;

    }
  
    p {
      font-size: 16px;
      line-height: 1.5;
      color: #444;
      text-align: center;
    }
  
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  
      li {
        display: flex;
        align-items: center;
        margin: 15px 0;
        width: 48%; 
  
        span {
          margin-left: 10px;
  
          &:first-child {
            margin-left: 0;
  
            img {
              width: 32px;
              height: 32px;
            }
          }
        }
      }
    }
  }
  

}

@media (max-width: 1210px){
  form {

    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
   
  }

h4 {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
  margin-top: 15px;
  width: 100%; 
}



select,
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0px; 
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #fff;
  transition: all 0.3s ease;
  box-sizing: border-box; 
}


}

@media (max-width: 600px) {
  form {
    flex-direction: row; 
  }

  select,
  input {
    width: calc(50% - 5px); 
    
  }
}


