.loading-spinner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  
    background-image: url('https://img.freepik.com/free-vector/loading-circles-blue-gradient_78370-2646.jpg?semt=ais_hybrid&w=740');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center; 
   
    border: none;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg) translate(-50%, -50%); }
    100% { transform: rotate(360deg) translate(-50%, -50%); }
  }